.light{
    background: white;
}

.dark{
    background: black;
}

#link {
    padding: 10px;
}

.banner {
    margin: 25px;
    border: 2px solid gray;
    border-radius: 15px;
}

.banner table{
    width: 100%;
}

.info-top {
    height: 20px;
    border-top: 2px solid gray;
}

.info-bottom{
    height: 20px;
}

#welcome {
    height: 300px;
}

div#mcmod:hover,
#mcmod a:hover {
    color: white;
    background-color: #86C155;
}

a#modrinth:hover {
    color: white;
    background-color: #1BD96A;
}

a#github:hover {
    color: white;
    background-color: #161B22;
}

a#gitee:hover {
    color: white;
    background-color: #C71D23;
}

a#bilibili:hover {
    color: white;
    background-color: #00A1D6;
}

a#mcbbsbeta:hover {
    color: white;
    background-color: #4CAF50;
}