body {
    font-size: 14px;
    width: 99vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.dark {
    background: black;
    color: #6c757d;
}


.dt3 {
    height: 25vh;
    margin-top: 20px;
}

.info {
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
    border-top: 2.5px solid #808080;
}

.info1 {
    display: flex;
    flex-flow: column nowrap;
    border-right: 2.5px solid #808080;
}

.abme {
    flex: 3;
    padding: 10px 10px 0px 10px;
}


.info>div[class="info1"] {
    flex: 1.5;
}

.info>div[class="list-group"] {
    flex: 1;
    padding-left: 10px;
}


.info2 {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.info2 .left-info {
    flex: 1;
    border-right: 2.5px solid #808080;
    padding: 10px 10px 0px 0px;
}

.icon {
    border-bottom: 2.5px solid #808080;
    padding-right: 10px;
    padding-bottom: 10px;
}

.main {
    display: flex;
    flex-flow: column nowrap;
}

.mod {
    margin-top: 20px;
}


.name {
    font-size: 20px;

}

.border1 {
    border: 2.5px solid #808080;
    border-radius: 15px;
}

.light {
    background: white;
    color: #000000e6;
    border-color: #000000e6;
}


#link {
    padding: 10px;
}

.banner {
    margin: 25px;
    padding: 100px;
    text-align: center;
}

.info-top {
    height: 20px;
    border-top: 2px solid #808080;
}

.info-bottom {
    height: 20px;
}

#welcome {
    height: 300px;
}

div#mcmod:hover,
#mcmod a:hover {
    color: white;
    background-color: #86c155;
}

a#modrinth:hover {
    color: white;
    background-color: #1bd96a;
}

a#github:hover {
    color: white;
    background-color: #161b22;
}

a#gitee:hover {
    color: white;
    background-color: #c71d23;
}

a#bilibili:hover {
    color: white;
    background-color: #00a1d6;
}

a#mcbbsbeta:hover {
    color: white;
    background-color: #4caf50;
}

#switch_theme {
    margin-right: 20px;
    color: black;
}

#collapsibleNavId2 {
    justify-content: flex-end;
}

.sun {
    color: #6c757d;
}